body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rye', serif;
    height: 100vh;
    margin: 0;
    background-image: url('img/0_icons/desert.png');
    background-size: cover;
}

canvas {
    background-color: black;
}

@font-face {
  font-family: 'Rye';
  src: url('fonts/rye/Rye-Regular.ttf') format('truetype');
}

.d-none{
    display: none !important;
}


.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(160,34,10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(253,229,142); 
    font-family: 'Rye', sans-serif;
    text-align: center;
    z-index: 10;
    
}

.start-img {
    /* width: 800px;
    height: 480px;  */
    object-fit: contain;
    width: 95%;
    height: 90%;
}



.start-btn {
    font-family: rye;
    background-color: rgb(160,34,10); 
    color: rgb(253,229,142); 
    border: 3px double rgb(253,229,142);
    padding: 16px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 30px;
    position: absolute;
    top: 50px;
}

.start-btn:hover {
    transform: scale(1.1);
    
}

.legal {
    position: absolute;
    bottom: 25px;
    display: flex;
    gap: 20px;
}

.legal a {
    color: rgb(253,229,142);
    text-decoration: none;
    font-size: 16px;
}

.legal a:hover {
    scale: 1.1;
}

.privacy-policy, .impressum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    font-size: 16px;
}

.privacy-policy p, .impressum p {
    margin: 10px 0;
}



