body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rye', serif;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/0_icons/desert.png');
    background-size: cover;
    background-position: center;
}

h1 {
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
}

canvas {
    background-color: black;
    display: block;
}


@font-face {
  font-family: 'Rye';
  src: url('fonts/rye/Rye-Regular.ttf') format('truetype');
}

.d-none{
    display: none !important;
}


.start-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(160,34,10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(253,229,142); 
    font-family: 'Rye', sans-serif;
    text-align: center;
    z-index: 10;
}

.lose-screen, .win-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.lose-img, .game-over-img{
    width: 50%;
    height: 50%;
    margin-top: 80px;
}

.win-img{
    width: 40%;
    height: 75%;
}

.start-img {
    /* width: 800px;
    height: 480px;  */
    object-fit: contain;
    width: 95%;
    height: 90%;
}



.start-btn {
    font-family: rye;
    background-color: rgb(160,34,10); 
    color: rgb(253,229,142); 
    border: 3px double rgb(253,229,142);
    padding: 16px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 30px;
    position: absolute;
    top: 50px;
}

.start-btn:hover {
    transform: scale(1.1);
    
}

.legal {
    position: absolute;
    bottom: 10px;
    display: flex;
    gap: 20px;
}

.legal a {
    color: rgb(253,229,142);
    text-decoration: none;
    font-size: 16px;
}

.legal a:hover {
    scale: 1.1;
}

.privacy-policy, .impressum {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    text-align: left;
    font-size: 16px;
}

.privacy-policy p, .impressum p {
    margin: 10px 0;
}

.restart-btn{
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    font-family: rye;
    background-color: rgb(160,34,10);
    color: rgb(253,229,142);
    border: 3px double rgb(253,229,142);
    padding: 0 16px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    align-items: center;
    display: flex;
    gap: 10px;
}
.restart-btn:hover {
    background-color: rgb(183, 6, 6);
}

.restart-icon{
    width: 24px;
    height: 24px;
}



.panel-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;               
    box-sizing: border-box;
    display: none;
    pointer-events: none;
}

.game-container {
    position: relative;
    width: 100%;
    max-width: 720px;
    aspect-ratio: 720 / 480;
    height: auto;
}


.btn-wrapper{
    display: flex;
    gap: 8px;
    padding: 8px;
    height: 30px;
}

.btn-wrapper button{
    border: none;
    border-radius: 50px;
    display: flex;
    background-color: rgb(71 60 31);
    align-items: center;
    pointer-events: auto;
}

.btn-wrapper button img{
    width: 20px;
    height: 20px;
}

.mobile-advice {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(28, 25, 25, 0.9);
    height: 100vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 16px;
}

.mobile-advice-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mobile-advice img {
    width: 40px;
    height: 40px;
}

.mobile-advice p {
    color: rgba(204, 204, 204, 1);
    font-family: 'Rye', serif;
    padding: 20px;
}


/* -------------------------------------------------------------------------- */


@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .mobile-advice {
        display: flex !important;
    }

    .game-container {
        display: none;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .mobile-advice {
        display: none !important;
    }

    .panel-wrapper {
        display: flex;
    }
}


@media only screen and (max-width: 720px) {
    .game-container {
        width: 100vw;
        height: 100vh;
        max-width: unset;
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .panel-wrapper {
        width: 100%;
        height: 100%;
    }
}


